<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">Food</h1>
        </div>
    </header>
    <main class="main">
        <section class="pizzas-page">
            <div class="container">
                <h1 class="title">Choose your pizza</h1>
                    <div class="row">
                        <div class="pizza-card">
                            <div class="pizza-img">
                                <img src="./images/i.webp" alt="pepperoni">
                            </div>
                            <h3 class="pizza-name">Pepperoni</h3>
                            <h4 class="pizza-size">30 cm</h4>
                            <h4 class="pizza-price">2500 T</h4>
                        </div>
                        <div class="pizza-card">
                            <div class="pizza-img">
                                <img src="./images/i (1).webp" alt="margarita">
                            </div>
                            <h3 class="pizza-name">Margarita</h3>
                            <h4 class="pizza-size">30 cm</h4>
                            <h4 class="pizza-price">3000 T</h4>
                        </div>
                        <div class="pizza-card">
                            <div class="pizza-img">
                                <img src="./images/i (2).webp" alt="mexicana">
                            </div>
                            <h3 class="pizza-name">Mexicana</h3>
                            <h4 class="pizza-size">30 cm</h4>
                            <h4 class="pizza-price">3500 T</h4>
                        </div>
                        <div class="pizza-card">
                            <div class="pizza-img">
                                <img src="./images/i (3).webp" alt="diablo">
                            </div>
                            <h3 class="pizza-name">Diablo</h3>
                            <h4 class="pizza-size">30 cm</h4>
                            <h4 class="pizza-price">4000 T</h4>
                        </div>
                    </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">

            </div>
        </footer>
    </main>
</body>
</html>