<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">Food</h1>
        </div>
    </header>
    <main class="main">
        <section class="block">
            <div class="container">
                <div class="preloader"></div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
</body>
</html>
